NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
NEXT_PUBLIC_PUBNUB_PUBLISH_KEY=your_pubnub_publish_key
NEXT_PUBLIC_PUBNUB_SUBSCRIBE_KEY=your_pubnub_subscribe_key
